/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350%;
    height: 100%;
}

.create-account-form {
    background-color: #000000;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 350%;
    max-width: 400px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #020202;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

button:focus {
    outline: none;
}

@media (max-width: 480px) {
    .create-account-form {
        padding: 20px;
    }
}
body::before{
    content: "";
    background: url(newlogo-removebg-preview.png) no-repeat center center / cover;
    position: absolute;
    height: 39%;
    width: 22%;
    opacity: 0.9;
}
