body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}
body::before{
    content: "";
    background: url(LOGO.JPG-removebg-preview.png) no-repeat center center / cover;
    position: absolute;
    height: 30%;
    width: 25%;
    z-index: -1;
    opacity: 0.9;
  }

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #000000;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

#trackingCodeContainer {
    margin-top: 30px;
    text-align: center;
}

.hidden {
    display: none;
}

#trackingCode {
    font-size: 24px;
    color: #007bff;
    margin-top: 10px;
}
