.ourservices{
    font-size: 3.8rem;
    padding: 245px;
    text-align: center;
    margin: 80px 17px;
    height: 15px;
}
#home p{
    font-size: x-large;
}
.btn {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    padding: 3px 30px;
    margin: 10px 470px;
    border: none;
    border-radius: 30px;
    cursor:pointer;
    transition: background-color 0.3s ease;
    font-size: 2rem;
    
}

.btn a {
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    background-color: #919191;
}
#service1{
    margin: 34px;
    display: flex;
    
}
#service1 .box1 {
    border: 2px solid rgb(13, 10, 10);
    padding: 20px 34px;
    margin: -180px 170px;
    border-radius: 72px;
    background: #000000;
    margin-bottom: 58px;
}

#service1 .box1 img{ 
   height: 200px;
   margin: auto;
   display: block;
}

#service1 .box1 p{
    font-family: 'Bree Serif', serif;
    color: azure;

} 
#service-container{
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 160%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;


}
#service2 .box2 {
    
    border: 2px solid rgb(0, 0, 0);
    padding: 20px 34px;
    margin: -36px 194px;
    border-radius: 72px;
    background: #000000;
    margin-bottom: 58px;
}

#service2 .box2 img{ 
   height: 200px;
   margin: auto;
   display: block;
}

#service2 .box2 p{
    font-family: 'Bree Serif', serif;
    color: azure;

} 
#service-container{
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 160%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;


}
#service3 .box3 {
    
    border: 2px solid rgb(0, 0, 0);
    padding: 20px 34px;
    margin: -36px 194px;
    border-radius: 72px;
    background: #000000;
    margin-bottom: 58px;
}

#service3 .box3 img{ 
   height: 200px;
   margin: auto;
   display: block;
}

#service3 .box3 p{
    font-family: 'Bree Serif', serif;
    color: azure;

} 
#service-container{
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 160%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;


}

